* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    background: #EAEDED;
}

/* -------------navigation section----------  */
.main_container {
    position: fixed;
    z-index: 100;
    height: 60px;
    background: #041e42;
    left: 0;
    top: 0;
    margin: 0 auto;
    right: 0;
    transition: background .2s;
    width: 100%;
    flex-direction: column;
}
.sub_container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.logo_and_nav_icon_container {
    display: flex;
}
.nav_icon_container {
    padding-right: 8px;
    padding-left: 8px;
    height: 44px;
}
body>div.main_container>div>div.logo_and_nav_icon_container>button {
    outline: none;
}
.nav_icon {
    height: 44px;
    width: 44px;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.needebdlogo {
    width: 80px;
    height: 20px;
    position: relative;
    top: 8px;
    margin-left: 12px;
}
.search-area {
    display: flex;
    background-color: #fff;
    height: 36px;
    margin: 0 auto;
    min-width: 105px;
    position: relative;
    width: 41.18%;
    z-index: 3;
    font-size: 14px;
    margin-top: 4px;
}
body>div.main_container>div>form>button.left-search-area-container {
    outline: none;
}
.left-search-area-container {
    display: inline-block;
    border-style: none;
}
.left-search-area-icon {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: inherit;
    width: 100%;
    color: white;
}
.left-search-area-icon-image {
    width: 18px;
    aspect-ratio: auto 18 / 18;
    height: 18px;
    max-width: 100%;
}
.search-field {
    outline: none;
    border: none;
    display: inline-block;
    overflow: visible;
    padding: 5px 0 5px 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: auto;
    min-width: 0;
}
body>div.main_container>div>form>button.search-icon-container {
    outline: none;
}
.search-icon-container {
    padding-top: 5px;
    width: 44px;
    height: 36px;
    background-color: #ffc220;
    border-style: none;
}
.account-and-myitem-container {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.account-subcontainer {
    background: #041e42;
    color: #fff;
    width: 100%;
    border-style: none;
    height: 44px;
}
.account-subcontainer2 {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: inherit;
    width: 100%;
}
.account-subcontainer3 {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.account-logo {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
}
.account-logo>img {
    width: 24px;
    aspect-ratio: auto 24 / 24;
    height: 24px;
    display: inline-flex;
}
.account-title {
    padding-top: 3px;
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: inline-flex;
}
.myitem-container {
    margin-left: 23px;
    height: 44px;
    display: block;
}
.myitem-subcontainer {
    display: inline-block;
    background: #041e42;
    color: #fff;
    width: 100%;
    height: 44px;
    text-decoration: none;
}
.myitem-subcontainer2 {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: inherit;
    width: 100%;
}
.myitem-subcontainer3 {
    display: flex;
    height: 24px;
    justify-content: flex-start;
}
.myitem-subcontainer4 {
    min-width: 24px;
    display: inline-flex;
}
.myitem-subcontainer4>img {
    max-width: 100%;
    border-style: none;
    width: 24px;
    aspect-ratio: auto 24 / 24;
    height: 24px;
}
.myitem-title {
    color: white;
    font-size: 14px;
    margin-left: 7px;
    font-weight: 400;
    color: #fff;
    display: inline-flex;
    cursor: pointer;
}
.cart-container {
    margin-left: 23px;
    position: relative;
    align-items: center;
    display: block;
    box-sizing: border-box;
    margin-right: 0;
    -webkit-box-align: center;
    width: 31px;
}
.cart-subcontainer {
    display: inline-block;
    background: #041e42;
    color: #fff;
    width: 100%;
    height: 44px;
    margin: 0;
    padding: 0;
}
.count {
    display: flex;
    background: #fced70;
    border-radius: 16px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -12px;
    top: 0;
    width: 20px;
    -webkit-box-pack: center;
    justify-content: center;
}
.cart-subcontainer2 {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: inherit;
    width: 100%;
}
.cart-subcontainer3 {
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    width: 100%;
}
.cart-subcontainer4 {
    display: inline-flex;
    min-width: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.cart-subcontainer4>img {
    max-width: 100%;
    border-style: none;
    width: 24px;
    aspect-ratio: auto 24 / 24;
    height: 24px;
}
/* -------------The end of the navigation section----------  */

.spacer {
    height: 60px;
}
.clear{
    clear: both;
}

/*---------- this is the start of the css of site menu section----------*/

.click-bar-site-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0);
    position: fixed;
    top: 60px;
    left: -100%;
    z-index: 11;
    overflow: hidden;
    
}
.click-bar-all{
    width: 320px;
     transition: all .5s;
     position: fixed;   
}
.click-bar-site-menu-active {
    left: 0;
    transition: all .5s;
}
.click-bar-site-menu-container {
    background-color: #fff;
    width: 100%;
    overflow: scroll;
    height: 100vh;
    transition: all .5s;
    overflow-x: hidden;
}
.click-bar-site-menu-container::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  .click-bar-site-menu-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
  .click-bar-site-menu-container::-webkit-scrollbar-thumb {
    background: #888; 
  }
  /* Handle on hover */
  .click-bar-site-menu-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.click-bar-site-menu-top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    line-height: 60px;
    background-color: #041E42;
    transition: all .5s;
}
.click-bar-site-logo img {
    width: 52px;
    height: 30px;
}
.site-menu-close-btn {
    background-color: transparent;
    border: none;
}
.site-menu-close-btn .fa-times {
    font-size: 40px;
    color: #fff;
}
.click-bar-site-menu-bottom {
    width: 100%;
    padding: 20px;
}
.web-link {
    font-size: 18px;
   font-weight: bold;
    margin: 0;
    padding: 0;
}
.click-bar-site-menu-bottom-header {
    padding: 20px 0;
}
.click-links {
    appearance: none !important;
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.l-t:hover {
    text-decoration: underline;
}
.click-links-row {
    display: flex;
    padding: 8px 0;
    margin: 0;
    align-items: center;
}
.link-empty {
    padding-right: 16px;
}
.last-empty {
    padding-left: 16px;
}
.link-title {
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
}
.link-right-icon {
    margin-left: 100px;
}
.link-right-icon .lg-i {
    font-size: 20px;
}
.lg-i-btn {
    background-color: transparent;
    border: none;
}
.click-bar-site-menu-header-department {

    width: 100%;
    padding: 0 20px;
}
.department-title {
    width: 100%;
}
.department-title-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
}
.department-name h2 {
    font-size: 18px;
}
.all-link a {
    color: #000;
}

/* department menus */
.departments-menu {
    width: 100%;
}
.departments-link {
    background-color: transparent;
    width: 100%;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    text-align: center;
    padding: 12px 0;
}
.departments-link:hover {
    text-decoration: underline;
}
.departments-links-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.click-bar-site-header-bottom-link {
    padding: 30px 20px;
}
/*---------- this is the end of the css of site menu section----------*/



/***************** slider section style *************/
.auto-slider {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    color: #fff;
    overflow: hidden;
    position: relative;
    background-color: black;
}
.slide {
    text-align: left;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    animation: slide 2s ease ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
}
.auto-slider .active {
    display: flex;
}
.caption {
    width: 100%;
    margin-top: 80px;
}
.heading h1 {
    font-size: 40px;
}
.sub-heading p {
    font-size: 25px;
    margin-bottom: 20px;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}
/*---------------- control prev and next-------------- */
.auto-slider .control .prev,
.auto-slider .control .next {
    position: absolute;
    z-index: 2;
    top: 50%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: -20px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}
.auto-slider .control .prev {
    left: 0;
    margin-left: 30px;
}
.auto-slider .control .next {
    right: 0;
    margin-right: 30px;
}
.auto-slider .control .prev:hover,  .auto-slider .control .next:hover{
    color: transparent;
    cursor: pointer;
}
/*------------ Indicator---------- */
.auto-slider .indicator {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 2;
}
.auto-slider .indicator div {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    margin: 0 3px;
}
.auto-slider .indicator div.active {
    background-color: yellow;
    color: red;
}
.auto-slider .indicator {
    display: none;
}
#main-slider {
    position: relative;
    width: 100%;
    background-color: #f7f9fa;
}
#slider-form {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin-right: 200px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffff;
    width: 300px;
    padding: 20px;
}
#slider-form input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #997f65;
    margin-bottom: 20px;
    border-radius: 5px;
}
#slider-form input::placeholder {
    color: #d4c7c7;
    padding: 5px;
}
#slider-form input:focus {
    outline: none;
}
#slider-form input:last-child {
    width: 150px;
    margin-top: 5px;
    text-align: center;
    background-color: #666666;
    font-size: 18px;
    color: #ffff;
    border-radius: 10px;
    border: none;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 0;
}

/*---------- slider-btn----------- */
.slider-btn {
    position: absolute;
    margin-top: 65px;
    top: 0;
    right: 0;
    z-index: 2;
    margin-right: 50px;
    display: none;
}
.slider-btn a {
    padding: 8px 25px;
    background-color: #666666;
    color: #ffff;
    cursor: pointer;
    border-radius: 5px;
}
/*--------- This is the end of the slider option-------- */

/* --------------- This is start of the Category Section------------ */
.category-section {
    background: #fff;
    min-height: 112px;
    color: #000;
    width: 100%;
    z-index: 6;
}
.category-container {
    width: 100%;
    display: flex;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}
.category-subcontainer {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    color: #212121;
    width: 100%;
}
.category-product {
    padding: 12px 8px;
    text-align: center;
    cursor: pointer;
}
.category-product-item {
    height: 64px;
    width: 64px;
    display: inline-flex;
}
.category-product-item>img {
    max-width: 100%;
    max-height: 100%;
}
.category-product-title {
    font-weight: 500;
    font-size: 14px;
}
/* ---------------Category Section------------ */


/* ------------------Body Category Section Start --------------- */

.body-category-maindiv {
    display: flex;
    overflow: hidden;
    max-width: 1900px;
    margin-bottom: 20px;
}
body > div:nth-child(8) > div.body-category-maindiv > div:nth-child(1),div:nth-child(7) > div:nth-child(2) > div:nth-child(1){
    padding-left: 0;
}
body > div:nth-child(8) > div.body-category-maindiv > div:nth-child(4){
    padding-right: 0;
}
   


.body-category-container {
    height: 420px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 420px;
    min-width: 317px;
    flex-basis: 33.3333%;
}

.body-category-items-container {
    background: white;
    height: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
}

.body-category-item-header {
    padding: 0 20px;
    margin-bottom: 20px;
}

.body-category-content-maincontainer {
    padding: 0 20px 56px 20px;
}

.body-category-content-row1 {
    overflow: hidden;
    margin-bottom: 2px;
    height: 129px;
}

.body-category-item-title>span {
    font-size: 12px;
    height: 129px;
}
.body-category-item-title{
line-height: 15px;
text-align: center;
}

.body-category-content-row2 {
    overflow: hidden;
    margin-bottom: 2px;
    height: 129px;
}

.body-category-content-row1>.body-category-content-container1 {
    float: left;
    padding: 5px 5px 3px;
    position: relative;
    width: 49.5%;
    background: #f3fbfc;
    margin-right: 2px;
    height: 100%;
}

.body-category-content-row1>.body-category-content-container2 {
    float: left;
    padding: 5px 5px 3px;
    position: relative;
    width: 49.5%;
    background: #f3fbfc;
    height: 100%;
}

.body-category-content-row2>.body-category-content-container1 {
    float: left;
    padding: 5px 5px 3px;
    position: relative;
    width: 49.5%;
    background: #f3fbfc;
    margin-right: 2px;
    height: 100%;
}

.body-category-content-row2>.body-category-content-container2 {
    float: left;
    padding: 5px 5px 3px;
    position: relative;
    width: 49.5%;
    background: #f3fbfc;
    height: 100%;
}

.body-category-item-image-container>img {
    height: 85px;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
}
.body-category-item-image-container{
    height: 85px;
}
.body-category-item-footer{
    width: 100%;
    padding: 0 20px;

}

.body-category-item-footer>a{
    text-decoration: none;
}
.body-category-item-header>h2{
    color:#181614 ;
}


/* ------------------Body Category Section End --------------- */

/* --------------This the start of Sliding item section ---------- */
.sliding-item-section-main-div {
    /* flex: 1 0 100%; 
    height: auto!important;
    min-height: 0!important; 
    margin-bottom: 0;
    background: 0 0;
    width: 100%;
    */
    font-family: "Amazon Ember", Arial, sans-serif;
    /* font-size: 13px!important;
    line-height: 19px!important; */
    font-size: 13px;
    line-height: 19px;
}

.sliding-item-section-sub-div {
    /*
     margin-bottom: 0!important; 

    */

    background: #fff;
}

.sliding-item-section-container {
    padding: 10px 20px;
}

/* just have to remove the '.as' */
.sliding-item-section-title-block {
    /*----- have to learn about it --- */
    /* 
    white-space: nowrap;
    margin-bottom: 25px;     
    */
    overflow: hidden;
    margin: 10px 0 0;
    padding-left: 14px;
}

.sliding-item-section-title-left {
    /*
    display: block;
    width: auto;
    line-height: 1.5!important;
    text-overflow: ellipsis;
    overflow: hidden; 
    */
    float: left;
    line-height: 1.5;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 0;
}

.sliding-item-section-title-left-span {
    color: #444;
}

.sliding-item-section-title-right-span {

    display: block;
    /* width: auto; */
    float: left;
    /* text-align: right; */
    font-size: 14px;
    /* vertical-align: middle; */
    padding-left: 15px;
    line-height: 35px;
    /* overflow: hidden;
    text-overflow: ellipsis;
     */
}

.sliding-item-section-title-right-link {
    text-decoration: none;
    color: #007185;
    font-weight: 500;
}
.sliding-item-section-carousel-container {
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}
.sliding-item-section-carousel-items {
    width: 100%;
    min-height: 220px;
    white-space: nowrap;
    overflow: auto;
    /* position: relative; */
    /* margin: 0; */
}

.sliding-item-section-carousel-items::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  /* Track */
.sliding-item-section-carousel-items::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
  .sliding-item-section-carousel-items::-webkit-scrollbar-thumb {
    background: #888; 
  }
  /* Handle on hover */
  .sliding-item-section-carousel-items::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }






.sliding-item-section-carousel-items-ul {
    display: inline-block;
    position: relative;
    left: 0;
    margin: 0 0 14px;
    padding: 0;
}
.sliding-item-section-carousel-items-li {

    display: inline-block;
    margin: 0 10px 0 0;
    list-style: none;
    text-align: center;
    min-width: 145px;
    max-width: 270px;
    max-height: 200px;
    overflow: hidden;
    margin: 0 10px 0 0;
    position: relative;
    vertical-align: top;
    min-height: 200px;
}

.sliding-item-section-carousel-span {
    display: inline-block;
    text-align: center;
    position: relative;
    min-width: 145px;
    white-space: nowrap;
    list-style: none;
    color: black;
}

.sliding-item-section-carousel-items-a {
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
}
.sliding-item-section-carousel-prev-a {
    border: 1px solid gray;
    position: absolute;
    top: 55px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    /* user-select: none; */
    /* -ms-user-select: none; */
    /* -webkit-user-select: none; */
    /* display: none; */
    left: 0;
    border-radius: 5px;
    /* clip: rect(-10px,55px,110px,0); */
    padding-right: 5px;
}
.sliding-item-section-carousel-prev-a:focus,
.slider-section-carousel-next-a:focus {
    border: 2px solid gray;
}
.sliding-item-section-carousel-prev-span > .fa-chevron-left, .sliding-item-section-carousel-next-span > .fa-chevron-right  {
    color: #333333;
    font-size: x-large;
    vertical-align: middle;
}
.slider-section-carousel-next-a {
    border: 1px solid gray;
    right: 10px;
    border-radius: 3px 0 0 3px;
    /* clip: rect(-10px,45px,110px,-10px); */
    position: absolute;
    top: 55px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    /* user-select: none; */
    /* -ms-user-select: none; */
    /* -webkit-user-select: none; */
    /* display: none; */
    border-radius: 5px;
    /* clip: rect(-10px,55px,110px,0); */
}
/* --------------This the end of Sliding item section ---------- */



/*------- This is the start of the extra options section---------- */

.extra-option-maindiv{
    height: 80px;
    margin-bottom: 20px;
}
.extra-option-content-maindiv{
height: 100%;
}

.extra-option-content-li{
    padding-right: 20px;
}
body > div:nth-child(6) > div.extra-option-maindiv > div > ul > li:last-child{
    padding-right: 0;
}
.extra-option-content-ul{
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 0;
    overflow: auto;
}


.extra-option-content-ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  /* Track */
.extra-option-content-ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
.extra-option-content-ul::-webkit-scrollbar-thumb {
    background: #888; 
  }
  /* Handle on hover */
.extra-option-content-ul::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




/*------- This is the end of the extra options section---------- */



/*------------------- This is the start of the  love by brand section -------------*/

.love-by-brand{
    width: 100%;    
}
.love-by-brand-categories{
    background-color: #fff;
    min-height: 340px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
.love-by-brand-head{
    width: 100%;
}
.love-by-brand-head h2{
    line-height: 1.5;
    font-size: 21px;
    color: #444444;
    font-weight: 400;
    text-transform: capitalize;
}
.love-by-brand-card{
    width: 12.5%;
    min-height: 144.5px;
    border-right: 1px solid #4444441c;
    border-bottom: 1px solid #4444441c;
    float: left;
    margin:0;
}
.love-by-brand-card:hover{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.love-by-brand-categories-content{
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 26px;
}
.brand-img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.brand-img img{
    width: 100%;
    height: 100%;
    align-items: center;
    line-height: 144.5px;
}

/*------------------- This is the end of the  love by brand section -------------*/


/*------------------- This is the start of the footer section -------------*/

.footer-section{
    width: 97%;
    background-color: #041E42;
    margin: 0 auto;
    
}

.footer-top-row{
    display: flex;
    padding: 30px 20px;
    justify-content: space-between;
    margin-top: 20px; 
}
.all-link{
    list-style: none;
}
.about-title h3{
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.all-link li{
    padding: 3px 0;
}
.all-link li a{
    text-decoration: none;
    color: #ffff;
    font-size: 12px;
    text-transform: capitalize;
  
}
.all-link li a:hover{
    text-decoration: underline;
}
.mail{
    border-left: 1px solid #fff;
    padding: 0 25px;
}
.adress .all-link li{
    color: #ffff;
    font-size: 12px;
    text-transform: capitalize;
}
.hr{
    height: 1px;
    background-color: #EAEDED;
}

.footer-bottom{
    width: 100%;
    padding: 20px;
    display: flex;
    border-top: 1px solid #f1f1f1;
    justify-content: space-between;
}
.footer-bottom div a{
   text-decoration: none;
   color: #ffff;
   font-size: 14px;
}
.footer-bottom div a span{
    margin-left: 8px;
    color: #ffff;
}
.footer-bottom div span{
    color: #ffff;
    font-size: 14px;
}

/*------------------- This is the start of the account dropdown section -------------*/
#main-dorpdown{
    z-index: 111;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.account-dropdown-main{
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: none;
}
.account-dropdown-main-active{
    display: block;
}
.account-dropdown{
    background-color: rgba(0, 0, 0, .16);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}
.account-dropdown-content{
    position: absolute;
    width: 320px;
    height: 100%;
    background-color: #ffff;
    right: 0;
    overflow: auto;
    overflow-x: hidden;
    top:60px;
   
    padding: 20px;
  
}
.account-dropdown-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.account-row{
    width: 100%;
    display: flex;
}
.account-img{
    background-color: #031937;
    height: 44px;
    width: 44px;
    text-align: center;
    align-items: center;
    line-height: 44px;
    border-radius: 50%;

}
.account-img img{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.account-title h2{
    margin-top: 10px;
    margin-left: 20px;
}

.close-section .close-account-btn{
    background-color: transparent;
    border: none;
    margin-top: 10px;
}

.all-elements-link{
  width: 100%;
  padding: 20px 0;
}
.elements{
    display: block;
   text-decoration: none;
    color: #000;
    padding: 8px 0;
}
.elements-row{
    display: flex;
    padding: 8px 0;
}
.elements-name{
    padding-left: 16px;
    font-size: 14px;
    text-transform: capitalize;
}
.elements-name:hover{
    text-decoration: underline;
}

/*------------------- This is the end of the account dropdown section -------------*/

/*------------------- This is the start of sing in section -------------*/

.form-section{
    padding: 50px;
}
.singin-title{
    width: 100%;
    padding: 20px 0;
}
.singin-title h2{
    font-size: 18px;
    font-weight: 500;
}
.input-section{
    width: 100%;
    margin-bottom: 20px;
}
.input-section input{
    width: 100%;
    padding: 15px;
    border:1px solid rgba(0, 0, 0,)
}
.input-section input:focus{
    outline: none;
}
.email-error, .password-error{
    width: 100%;
    padding: 5px 0;
    color: red;
    display: none;
}
.forgot-pass-section{
    width: 100%;
    text-align: right;
    margin: 0;
}
.forgot-pass-section a{
   margin-top: -4px;
    color: #000;
}
.submit-section{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
}
.submit-section .submit-btn{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #041E42;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.crate-account-section{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.crate-account-section h2{
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}
.crate-account-section a{
    width: 100%;
    display: block;
    text-decoration: none;
}
.crate-account-section a .crate-account{
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

@media  screen and (min-width: 240px) {
    .form-main{
      width: 320px;
       margin-left: auto;
       margin-right: auto;
       overflow: hidden;
       padding: 20px;
      
    }
}

/*------------------- This is the end of sing in section -------------*/

/*------------------- This is the start forgot pass section -------------*/
@media  screen and (min-width: 240px) {
    .forgot-main{
      width: 320px;
       margin-left: auto;
       margin-right: auto;
       overflow: hidden;
       /* padding:90px 20px; */
       padding-left: 20px;
       padding-right: 20px;
       padding-top: 58px;
       padding-bottom: 140px;
      
    }
}

.forgot-section{
    width: 100%;
    margin-top: 100px;
}
.forgot-title{
    width: 100%;
    text-align: center;
}
.forgot-title h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 5px 0;
    color: #000;
}
.forgot-main .forgot-pass-main{
   width: 100%;
}
.forgot-main .forgot-pass-main .forgot-input{
    width: 100%;
}
.forgot-main .forgot-pass-main .forgot-input input[type=email]{
    width: 100%;
    padding: 15px;
}
.forgot-button-section{
    width: 100%;
    padding: 15px 0;
    margin: 25px 0;
}
.forgot-button-section .forgot-submit-btn{
    width: 100%;
    padding: 15px;
    background-color: #041e42;
    border: none;
    outline: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.back-to-singin{
    width: 100%;
    text-align: center;
}
.back-to-singin span a{
    color: #000;
}


/*------------------- This is the end forgot pass section -------------*/

/*------------------- This is the start account section -------------*/

.create-account-section-m{
    width: 100%;
    padding: 40px 0;
}
.form-account{
    width: 100%;
}
.form-account h2{
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.form-control{
    width: 100%;
    padding: 10px 0;
}
.form-control small{
    display: block;
    color: red;
    visibility: hidden;

}
.form-control input{
   width: 100%;
   padding: 15px;
}

.form-control.error small {
    visibility: visible;
}
.form-control.error input {
  border-color: red;
}
.form-control.success input {
  border-color:red;
}
.account-create-btn{
    width: 100%;
    padding:15px;
    border: none;
    outline: none;
    background-color: #041e42;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.form-account h3{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0;
}
.form-account a{
    display: block;
    width: 100%;
    border: 1px solid #041e42;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: #041e42;
    font-size: 14px;
    font-weight: bold;

}

@media  screen and (min-width: 240px) {
    .account-main{
      width: 320px;
       margin-left: auto;
       margin-right: auto;
       overflow: hidden;      
    }
}
  /*------------------- This is the end account/registration section -------------*/


    /*------------------- This is the start account footer section -------------*/
    .account-footer-section{
        margin-left: 20px;
        margin-right: 20px;
        border-top: 2px solid #041e42;
        padding: 20px 0;
    }
    
    .account-footer-section-link{
        list-style: none;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
      
    }
    .account-footer-section-link li a{
       text-decoration: none;
       color: #000;
       text-transform: capitalize;
    }
    .account-footer-section-link li a:hover{
        text-decoration: underline;
       
    }





